body{
	width: 100%;
	height:100%;
	margin:0px;
	background-color: #9E9E9E;
}

.container{
    width: 18em;
    height: auto;
    margin: 5px;
    border-radius: 5px;
    padding: 8px;
    background-color: #9CD1EA;
}

.row{
    margin:0px;
    width:auto;
}

input{
    width:100%;
}